# Ignorar el entorno virtual
.venv/

# Ignorar archivos de credenciales sensibles
credible-datum-442414-s7-9884e655f763.json

# Ignorar imágenes y archivos multimedia
*.jpg
*.png

# Ignorar archivos de datos grandes o temporales
*.csv

# Ignorar otros archivos innecesarios
*.log
.DS_Store
__pycache__/
*.pyc


